@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;300&display=swap');

html{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    }

.bg-orange{
     background-color: #FB9B1C;
}

.bg-orangrad{
    background-image: linear-gradient(to bottom, #FB9B1C, #f8c37d); 
}

.bg-orangradtop{
    background-image: linear-gradient(to top, #FB9B1C, #f8c37d); 
}

.bg-lightpurple{
    background-color: #f0e6f5;
}

.navbar-nav .nav-item .nav-link{
    color: #844C9C; 
    font-size: 1.5em;
}
.navbar-nav .nav-item .nav-link:hover{
    color: white;
}

main h1{
    text-decoration: underline;
    width: 100vw;
}

@media (min-width:1024px){
    .intro p{
    font-size: 1.7em;
}
    .amigorDef p{
        font-size: 1.7em;
    }
}

/* agujas y acc */
.amigorImg{
    display: flex;
    justify-content: space-evenly;

}
